.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
}

.logo{
    font-size: 50px;
    padding-left: 5%;
    color:#333;
}

.logo .logo-part{
    color:#F47C7C;
}

.nav ul li{
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 20px;
    flex-wrap: nowrap;
}

.nav ul li a{
    text-decoration: none;
    color:black;
}

.nav ul li a:hover{
    text-decoration: none;
    color:#F47C7C;
}

.nav ul li a.active{
    text-decoration: none;
    color:#F47C7C;
}

@media screen and (max-width: 600px){
    .nav{
        display: flex;
        flex-direction: column;
    }

    .nav ul{
        margin-top:14px;
    }

    .nav ul li{
        display: flex;
        flex-direction: column;
    }
}

